body {
    background-color: cornflowerblue;
  }
  .container {
    width: 100%;
    background: white;
   
  }
  h2 {
    text-align: center;
    font-family: arial black;
  }
  .container div {
    text-align: center;
  }
  input, select {
    width: 250px;
    padding: 5px;
  }
  button {
    width: auto;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover{
      background: orangered;
      color: rgb(0, 0, 56);
      box-shadow: 0px 0px 3px 2px red;
  }

  .form{
      width: 100%;
  }
  ul{
      margin-left: 3px;
      padding: 3px;
  }
   ul li{
       list-style: none;
       text-align: left;
       margin-left: 3px;
       font-size: 19px;
       font-weight: normal;
       font-family: arial black;
       color: blue;
   }
   ul li span{
       color: rgb(255, 51, 0);
       font-size: 16px;
       font-family: arial;
       text-align: left;
       margin-bottom: 10px;
       margin-left: 20px;
   }

   #module{
     background: white;
     width: 90%;
     height: 100%;
     display: none;
   }

   .h{
     width: 100%;
     border: 1px solid blue;
   }
   .h h1{
     font-size: 6vw;
   }
   #module a{
     font-size: 5vw;
     color: orangered;
     margin: 5px;
   }